- list = ["Stupefiants", "Stargate", "Humour", "CameraCafe", "Futurama", "SouthPark", "Startrek", "BigBangTheory", "Bougon", "RadioEnfer", "House", "Simpson"]

html
  body
  if currently_playing
    h3 Currently playing: #{currently_playing}
  p Ethor Streams

  form(action='/play_ethor', method='post')
    select(name='ethor_stream_name')
      each item, i in list
        option(value=item) #{item}
    button Start Ethor Stream
    p Twitch Streams
  form(action='/play_twitch', method='post')
    input(input='text', name='twitch_stream_name')
    button Start Twitch Stream

  form(action='/stop_stream', method='post')
    button Stop Current Stream
